go 1.21.3

// use ./01hello
// use ./02variables
// use ./03userInput
// use ./04conversion
// use ./05mytime
// use ./07pointers
// use ./08arrays
// use ./09Slices
// use ./10maps
// use ./11controlflowstmt
// use ./12loops
// use ./13functions
// use ./14structs
// use ./15methods
// use ./16defer
// use ./17files
// use ./18urls
// use ./19httprequests
// use ./20json
use ./22buildAPI